{% extends 'layout.html' %}
{% block content %}
    <h1>Datacards</h1>
    {% for faction in datacards.keys() %}
        <h2>{{ faction }}</h2>
        <h3>Companies</h3>
        {% for company in datacards[faction]["Companies"] %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <div class="mr-2 d-inline">{{ company["Name"] }}</div>
                        <small class="text-muted">{{ company["Points"]}}</small>
                    </div>
                    <div>Requirements</div>
                    <ul class="list-unstyled">
                        {% for requirement in company["Requirements"] %}
                            <li>{{ requirement }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ company["Effect"] }}</p>
                </div>
            </article>
        {% endfor %}
        <h3>Units</h3>
        {% for datacard in datacards[faction]["Units"] %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <div class="row">
                            <div class="unit-datacard-name col-sm-8">{{ datacard["Name"] }}</div>
                            {% if datacard["Unit_Size"]["min"] == datacard["Unit_Size"]["max"] %}
                                {% if datacard["Unit_Size"]["min"] == 1 %}
                                    <div class="unit-datacard-models col-sm-2">1 Model</div>
                                {% else %}
                                    <div class="unit-datacard-models col-sm-2">{{ datacard["Unit_Size"]["min"] }} Models</div>
                                {% endif %}
                                <div class="unit-datacard-points col-sm-2">{{ datacard["Points"] }} Points</div>
                            {% else %}
                                <div class="unit-datacard-models col-sm-2">
                                    {{ datacard["Unit_Size"]["min"] }}-{{ datacard["Unit_Size"]["max"] }} Models
                                </div>
                                <div class="unit-datacard-points col-sm-2">{{ datacard["Points"] }} Points Per Model</div>
                            {% endif %}
                        </div>
                        
                        <ul class="list-inline">
                            {% for keyword in datacard["Keywords"] %}
                                <li class="list-inline-item">{{ keyword }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p class="article-content">stuff2</p>
                </div>
            </article>
        {% endfor %}
    {% endfor %}
{% endblock content %}
