{% extends 'layout.html' %}
{% block content %}
    <h1>Datacards</h1>
    {% for faction in datacards.keys() %}
        {% if datacards[faction]["Units"]|length > 0 %}
            <h2>{{ faction }}</h2>
            <h3>Companies</h3>
            {% for company in datacards[faction]["Companies"] %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <div class="row">
                                <div class="unit-datacard-name col-sm-10">{{ company["Name"] }}</div>
                                <div class="unit-datacard-name company-cost col-sm-2">{{ company["Points"]}} Points</div>
                            </div>
                        </div>
                        <div>Requirements</div>
                        <ul class="list-unstyled">
                            {% for requirement in company["Requirements"] %}
                                <li>{{ requirement }}</li>
                            {% endfor %}
                        </ul>
                        <p>{{ company["Effect"] }}</p>
                    </div>
                </article>
            {% endfor %}
            <h3>Units</h3>
            {% for datacard in datacards[faction]["Units"] %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <div class="row">
                                <div class="unit-datacard-name col-sm-10">{{ datacard["Name"] }}</div>
                                <div class="col col-sm-2">
                                    {% if datacard["Unit_Size"]["min"] == datacard["Unit_Size"]["max"] %}
                                        <div class="unit-datacard-points col-sm-12">{{ datacard["Points"] }} Points</div>
                                        {% if datacard["Unit_Size"]["min"] == 1 %}
                                            <div class="unit-datacard-models col-sm-12">1 Model</div>
                                        {% else %}
                                            <div class="unit-datacard-models col-sm-12">{{ datacard["Unit_Size"]["min"] }} Models</div>
                                        {% endif %}
                                    {% else %}
                                        <div class="unit-datacard-points col-sm-12">{{ datacard["Points"] }} Points Per Model</div>
                                        <div class="unit-datacard-models col-sm-12">
                                            {{ datacard["Unit_Size"]["min"] }}-{{ datacard["Unit_Size"]["max"] }} Models
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <ul class="list-inline">
                                {% for keyword in datacard["Keywords"] %}
                                    <li class="list-inline-item datacard-keyword datacard-unit-keywords">{{ keyword }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <table class="table table-striped text-center datacard-table borderless">
                                <thead class="color-light">
                                    <tr>
                                        <th scope="col">Move</th>
                                        <th scope="col">Dash</th>
                                        <th scope="col">Melee</th>
                                        <th scope="col">Ranged</th>
                                        <th scope="col">Strength</th>
                                        <th scope="col">Durability</th>
                                        <th scope="col">Health</th>
                                        <th scope="col">Attacks</th>
                                        <th scope="col">Will</th>
                                        <th scope="col">Armour</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ datacard["Move"] }}"</td>

                                        {% if datacard["Dash"] == -1 %}
                                            <td>-</td>
                                        {% else %}
                                            <td>{{ datacard["Dash"] }}"</td>
                                        {% endif %}

                                        {% if datacard["Melee"] == -1 %}
                                            <td>-</td>
                                        {% else %}
                                            <td>{{ datacard["Melee"] }}+</td>
                                        {% endif %}

                                        {% if datacard["Ranged"] == -1 %}
                                            <td>-</td>
                                        {% else %}
                                            <td>{{ datacard["Ranged"] }}+</td>
                                        {% endif %}

                                        <td>{{ datacard["Strength"] }}</td>

                                        {% if datacard["Durability"] == -1 %}
                                            <td>-</td>
                                        {% else %}
                                            <td>{{ datacard["Durability"] }}+</td>
                                        {% endif %}

                                        <td>{{ datacard["Health"] }}</td>
                                        <td>{{ datacard["Attacks"] }}</td>
                                        <td>{{ datacard["Will"] }}</td>

                                        {% if datacard["Armour"] == -1 %}
                                            <td>-</td>
                                        {% else %}
                                            <td>{{ datacard["Armour"] }}+</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="datacard-header">Wargear</div>
                            <div class="datacard-wargear-desc">{{ datacard["Equipment_Options"] }}</div>
                            <table class="table table-striped datacard-table borderless">
                                <thead class="color-light">
                                    <tr>
                                        <th scope="col" class="text-center">Cost</th>
                                        <th scope="col" class="text-center">Name</th>
                                        <th scope="col" class="text-center">Type</th>
                                        <th scope="col" class="text-center">Range</th>
                                        <th scope="col" class="text-center">Wound</th>
                                        <th scope="col" class="text-center">Rend</th>
                                        <th scope="col" class="text-center">D</th>
                                        <th scope="col">Abilities</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for weapon in datacard["Weapons"] %}
                                        <tr>
                                            <td class="text-center">{{ weapon["Cost"] }}</td>
                                            <td class="text-center">{{ weapon["Name"] }}</td>
                                            <td class="text-center">{{ weapon["Type"] }}</td>
                                            {% if weapon["Range"] == "-" %}
                                                <td class="text-center">-</td>
                                            {% else %}
                                                <td class="text-center">{{ weapon["Range"] }}"</td>
                                            {% endif %}
                                            <td class="text-center">{{ weapon["Wound"] }}+</td>
                                            <td class="text-center">-{{ weapon["Rend"] }}</td>
                                            <td class="text-center">{{ weapon["D"] }}</td>
                                            <td>
                                                <ul class="list-inline" style="margin-bottom: 0rem">
                                                    {% for weapon_ability in weapon["Abilities"] %}   
                                                        <li class="list-inline-item ability-name" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="{{ weapon_ability_tooltip(weapon_ability) }}">
                                                            {{ weapon_ability }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="datacard-header">Abilities</div>
                                <ul class="list-inline">
                                    {% for faction_ability in datacard["Faction_Abilities"] %}
                                        <li class="list-inline-item ability-name" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="{{ datacards[faction]['Abilities'][faction_ability] }}">{{ faction_ability }}</li>
                                    {% endfor %}
                                </ul>
                                <ul class="list-unstyled">
                                    {% for unit_ability in datacard["Unit_Abilities"] %}
                                        <li class="datacard-ability">
                                            <span class="ability-name">{{ unit_ability["Ability_Name"] }}</span>
                                            <span>: {{ unit_ability["Ability_Effect"] | safe}}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <div class="datacard-header">Caster</div>
                                <div>
                                    {% if datacard["Caster"] %}
                                        <div class="ability-name">Level {{ datacard["Caster"] }} Caster</div>
                                        <ul class="list-unstyled">
                                            {% for spell in datacard["Spells"] %}
                                                <li class="datacard-ability">
                                                    <span class="ability-name">{{ spell['Name'] }}: </span>
                                                    <span>{{ spell['Effect'] }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                    <span>-</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <div class="datacards-buttons">
        <img src='{{ url_for("static", filename="search.svg") }}' class="search-button" onclick="toggle_display()">
        <img src='{{ url_for("static", filename="arrow-up-circle.svg") }}' class="top-button" onclick="top_function()">
    </div>

    <div class="datacards-search-menu color-dark" id="search-menu-id">
        <form method="POST" role="form" action="/datacards">
            <div>
                {% for faction in all_factions %}
                    <input type="checkbox" class="btn-check" id="btn-check-{{ faction }}" name="faction-checkbox" value="{{ faction }}" checked autocomplete="off">
                    <label class="btn btn-primary" for="btn-check-{{ faction }}">{{ faction }}</label>
                {% endfor %}
            </div>
            <div>
                {% for keyword in all_keywords %}
                    <input type="checkbox" class="btn-check" id="btn-check-{{ keyword }}" name="keyword-checkbox" value="{{ keyword }}" checked autocomplete="off">
                    <label class="btn btn-primary" for="btn-check-{{ keyword }}">{{ keyword }}</label>
                {% endfor %}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
    <script>
        function toggle_display() {
            el = document.getElementById("search-menu-id");
            console.log(el.style.display);
            if(el.style.display === 'none') {
                el.style.display = 'block';
            }
            else {
               el.style.display = 'none';
            }
        }
        
        function top_function() {
            document.body.scrollTop = 0;            // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

{% endblock content %}
