{% extends 'layout.html' %}
{% block content %}
    <h1>Home</h1>
    <h2>CORE RULES</h2>
    <h3>Dice</h3>
    <h3>Datacards</h3>
    <h3>Formations (& Keywords)</h3>
    <h3>Traits</h3>
    <h3>Companies</h3>
    <h3>Building your Army</h3>
    <h3>Battlefield & Terrain (model on terrain?)</h3>
    <h3>Measuring Distances</h3>
    <h3>Within and Wholly Within</h3>
    <h3>Sequencing</h3>
    <h2>HOW A GAME IS WON</h2>
    <h3>Victory Points</h3>
    <p>
    The player who has the most Victory Points at the end of the game is the winner.
    Victory Points can be obtained by completing Primary and Secondary Objectives.
    If both players have an equal number of Victory Points at the end of the game,
    it is considered a draw.
    </p>
    <h3>Primary Objectives</h3>
    <p>
    All factions have access to the following Primary Objective.
    </p>
    <h4>Raise the Banners</h4>
    <p>
    At the end of the Movement Step, any INFANTRY formation within 3” of an
    Objective Marker without a banner may raise a banner on that Objective. Make a
    Strength Check for that formation, and if it passes, that Objective is
    considered to have a friendly banner. Gain 1 Victory Point at the end of each
    round for each friendly banner.
    </p>
    <p>
    If an INFANTRY formation is within 3” of an Objective Marker with an opponent’s
    banner, you may make a Strength Check for that formation, and if it passes, the
    opponent’s banner is destroyed.
    </p>
    <p>
    Formations that performed a Dash action during the Movement Step or are Locked
    in Combat cannot attempt to raise or destroy Banners.
    </p>
    <p>
    Formations that raised or lowered a banner cannot Charge in the same round.
    </p>
    <h3>Faction Specific Primaries</h3>
    <p>
    Some factions have a faction specific Primary Objective. These are available
    with that faction’s Datacards. The Raise the Banners Primary Objective must be
    replaced with a faction specific Primary Objective should one be available.
    </p>
    <h3>Secondaries</h3>
    <h2>STARTING A GAME</h2>
    <h3>Declare Secondaries</h3>
    <h3>That card thing</h3>
    <h3>Deployment (Does deep strike need to be declared?)</h3>
    <h2>DURING A GAME</h2>
    <h3>Roll for priority</h3>
    <h3>Tactics Step</h3>
    <h3>Movement Step</h3>
    <h3>Magic Step</h3>
    <h3>Shooting Step</h3>
    <h3>Charge Step</h3>
    <h3>Combat Step</h3>
    <h3>Morale Step</h3>
    <h2>ENDING A GAME</h2>

{% endblock content %}