<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link rel='stylesheet', type='text/css' href='{{ url_for("static", filename="main.css") }}'>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Document</title>
    {% endif%}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light color-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('home') }}">ToD</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rules') }}">Rules</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('datacards') }}">Datacards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('army_builder') }}">Army Builder</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Damage Calculator</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('changelog') }}">Changelog</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main role="main" class="datacard-container">
        <div class="row">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>
</html>