
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
  /**/
  body {
    background: #282a36;/*Main Page Background*/
    margin-top: 5rem;
    font-family: 'IBM Plex Sans';
    color: #ff79c6;
  }

  /*Paragraph styling*/
  p {
    font-family:  'IBM Plex Sans';
    color: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans';
  }

  /**/
  .content-section {
    background: #44475a;
    padding: 10px 20px;
    border: 2px solid #0f0f0f;
    color: #bd93f9;
    margin-bottom: 20px;
  }
  
  /*++++++++++Table Colors Start*/
  .color-dark {
    background-color: #374455;
  }

  .color-light {
    background-color: #264368;
  }

  .table{
    color: white;
    --bs-table-striped-color: white;
  }
  /*----------Table Colors End*/

  /*NAVBAR STUFF START*/
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  /*NAVBAR STUFF END*/

  .datacard-container {
    margin-left: 6%;
    margin-right: 6%;
  }
  
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
  }

  .datacard-keyword {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans';
  }

  .datacard-unit-keywords {
    font-size: 120%;
  }

  .datacard-header {
    font-weight: bold;
    font-size: 120%;
  }

  .datacard-ability {
    margin-bottom: 0.3rem;
  }

  .datacard-wargear-desc {
    margin-bottom: 1rem;
  }

  .ability-name {
    font-weight: bold;
  }

  .unit-datacard-name {
    font-size: 250%;
    padding-bottom: 0.5rem;
  }

  .company-cost {
    text-align: right;
  }

  .unit-datacard-models {
    text-align: right;
    font-size: 120%;
  }

  .unit-datacard-points {
    text-align: right;
    font-size: 120%;
  }

  .datacards-search-menu {
      display: none;
      position: fixed;
      top: 10%;
      left: 10%;
      right: 10%;
      bottom: 10%;
      z-index: 99;
  }

  .datacards-buttons {
    position: fixed;
    z-index: 99;
    bottom: 6%;
    right: 1%;
    width: 4%;
  }

  .search-button {
    top: 0%;
    width: 100%;
    height: auto;
    margin-bottom: 25%;
  }

  .top-button {
    width: 100%;
    height: auto;
    bottom: 0%;
  }


  .table>:not(caption)>*>* {
    padding: 0;
  }

  .borderless td, .borderless th {
    border: none;
  }