body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .tooltip-inner {
    background: #ffffff;
    color: #333333
  }

  .datacard-keyword {
    font-weight: bold;
    text-transform: uppercase;
  }

  .ability-name {
    font-weight: bold;
  }

  .unit-datacard-name {
    background: #ffffff;
  }

  .unit-datacard-models {
    background: #ffffff;
  }

  .unit-datacard-points {
    background: #ffffff;
  }